.container{
    display: flex;
    margin-top: 10px;
}


.link{
    text-decoration: none;
    color: inherit;
}

/* body{
    background-image: url(images/bgr.png);
} */
/* body{
    background-image: url(images/bgr.png);
} */

body{
    background-color: rgb(249, 252, 228);
}